.DS_Store/*
.DS_Store
__pycache__/*
*.jpg
*.pth
*.log
*.patch
*.pyc
*.wandb
*.graph.json
wandb-metadata.json
wandb-summary.json
wandb/*
*.egg-info
*.pyc
.vscode/*
qnlp/discoclip/frozen/discoclip_aro_minimal/data/*
*.tar
data/caltech256/*
*.db*
*.pt
*.zip
image/*
fil-result/
mlflow_experiments/*
.idea